{% extends 'main.html' %}
{% block main %}        
<div class="container is-max-desktop">
  <form action="" enctype="multipart/form-data" method="post" class="box">
  {{ form.hidden_tag() }}
  
  <div class="columns">
    <div class="column is-align-self-center is-two-fifths">

      <div class="field">
        <div class="file is-medium is-centered is-boxed is-info has-name">
          <label class="file-label">
            
            <img src="{{ url_for('user.static', filename='images/'+foto) }}" alt="" style="border-radius: 100%;">
           
          </label>
        </div>
      </div>

    </div>
    <div class="column">
      <div class="field">
        <h5 class="title">
          Usuario
        </h5>
        <div class="control">
          {{ render_form(form.username, class_="input is-primary") }}
        </div>
      </div><div class="field">
        <h5 class="title">
          Nombre
        </h5>
        <div class="control">
          {{ render_form(form.name, class_="input is-primary") }}
        </div>
      </div>
      <div class="field">
        <h5 class="title">
          Correo electrónico
        </h5>
        <div class="control">
          {{ render_form(form.email, class_="input is-primary") }}
        </div>
      </div>

      
    </div>
  </div>
  {{ render_form(form.submit, class_='button is-success is-medium is-fullwidth') }}

  </form>
  <input type="button" onclick="history.back()" name="volver atrás" value="Regresar" style="width: 500px;height: 50px;border-radius: 5px;margin-left: 250px;background: linear-gradient(to right, #00b4db, #0083b0);border-color: transparent;font-size: 20px;color: white;">
</div>
{% endblock main %}

{% block script %}
    <script>
        const fileInput = document.querySelector('.file input[type=file]');
                fileInput.onchange = () => {
                            if (fileInput.files.length > 0) {
                                          const fileName = document.querySelector('.file .file-name');
                                          fileName.textContent = fileInput.files[0].name;
                                        }
                          }
    </script>
{% endblock script %}
